<!DOCTYPE html>
<html>
  <head>
    <title>InstagramPro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d1e66a703e.js"></script>
  </head>

  <body>
    <%=render "partials/navbar" if current_user%>

    <%= yield %>

    <%=render "partials/footer"%>
    <%=render "partials/notifyer"%>

  </body>
</html>


